openapi: 3.0.3
info:
  title: Kibooz API
  version: "1"
  description: |
    REST API of Kibooz, the kindergarten app where teachers record the mood of children and parents follow it and
    earn points for sorting trash.

    Every JSON response uses one envelope. A success has `success: true` with an optional `message` and `data`.
    A failure has `success: false`, a `message` and a stable `errorCode`, and validation failures also carry a
    `details` object with one message per field.

    Protected routes need the access token from login as a bearer token. Rate limits answer `429` with `RATE_LIMITED`
    and a `Retry-After` header. They count requests per signed-in user, and login, registration and token routes per account,
    never per IP address. The daily limit of trash claims is a different `429` with `TRASH_DAILY_LIMIT_REACHED` and no `Retry-After`
    header, because it ends at midnight of the local day.

    Every operation can also fail with `500` and `INTERNAL_ERROR` when the server breaks. A path that does not exist answers
    `404` with `NOT_FOUND`, a method that is not allowed answers `405` with `METHOD_NOT_ALLOWED`, a request that cannot be
    processed answers `400` with `BAD_REQUEST`, and a body over the size limit of the server answers `413` with `FILE_TOO_LARGE`.
    A client should branch on `errorCode` and treat an unknown code like its status.

    A day, such as "today" or the Monday to Friday of a week, is the local day of the school. It follows the timezone of the
    deployment, which is `Asia/Jakarta` unless the operator sets another one.
  license:
    name: GNU General Public License v3.0
    url: https://github.com/SyafaHadyan/kibooz-backend/blob/main/LICENSE
servers:
  - url: https://kibooz-api.syafahadyan.com/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development with the default port
tags:
  - name: Auth
    description: Registration, login and sessions
  - name: Parent
    description: Routes for the WALI role
  - name: Teacher
    description: Routes for the GURU role
  - name: Classroom
    description: Learning videos and the forum of a class, for the teachers and the parents of that class
  - name: Trash
    description: Claiming points and the leaderboard
  - name: Account
    description: Profile photo and account deletion
  - name: Operations
    description: Health check
security:
  - bearerAuth: []
paths:
  /auth/register:
    post:
      tags: [Auth]
      operationId: register
      summary: Create an account
      description: |
        A GURU registers together with a new class and becomes its teacher. A WALI registers with the class code of
        the teacher and the details of the child. A class whose teachers were all deleted cannot accept new children.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
            examples:
              teacher:
                summary: A teacher with a new class
                value:
                  email: teacher@example.com
                  password: "{{password}}"
                  fullName: Ibu Siti
                  role: GURU
                  class:
                    name: Bunga
                    gradeLevel: Class A
              parent:
                summary: A parent with a child
                value:
                  email: parent@example.com
                  password: "{{password}}"
                  fullName: Bapak Budi
                  role: WALI
                  classCode: ABC234
                  student:
                    nisn: "1234567890"
                    fullName: Ani
      responses:
        "201":
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: |
            The email, NIP or NISN is already registered (`EMAIL_ALREADY_REGISTERED`, `NIP_ALREADY_REGISTERED`,
            `NISN_ALREADY_REGISTERED`), or the class has no active teacher (`CLASS_NO_ACTIVE_TEACHER`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Sign in
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          description: The email or password does not match the selected role (`AUTH_INVALID_CREDENTIALS`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auth/refresh-token:
    post:
      tags: [Auth]
      operationId: refreshToken
      summary: Exchange a refresh token for a new pair
      description: The refresh token is single use, so the old one stops working as soon as this call succeeds.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          description: The session has ended, so the user has to sign in again (`AUTH_REFRESH_INVALID`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Revoke a refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
      responses:
        "200":
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /wali/dashboard:
    get:
      tags: [Parent]
      operationId: waliDashboard
      summary: Dashboard of a child
      description: The child, today's mood, the points summary and the recommended guidance. Without `studentId` the oldest child is used.
      parameters:
        - name: studentId
          in: query
          description: A child of the signed in parent
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The dashboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WaliDashboardEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /wali/guidance/apply:
    post:
      tags: [Parent]
      operationId: applyGuidance
      summary: Record that a guidance was applied at home
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyGuidanceRequest"
      responses:
        "200":
          description: The status was recorded. No screen of the teacher shows it yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /wali/child/{studentId}:
    get:
      tags: [Parent]
      operationId: getChild
      summary: Show a child
      description: The registered details of a child of the signed in parent, with the class and the contact details of the parent.
      parameters:
        - $ref: "#/components/parameters/StudentPath"
      responses:
        "200":
          description: The child
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChildProfileEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/dashboard:
    get:
      tags: [Teacher]
      operationId: guruDashboard
      summary: Overview of a class
      description: The class overview and the distribution of today's moods. Without `classId` the first class of the teacher is used.
      parameters:
        - $ref: "#/components/parameters/ClassId"
      responses:
        "200":
          description: The dashboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuruDashboardEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/mood/log:
    post:
      tags: [Teacher]
      operationId: logMood
      summary: Record the mood of a child
      description: Only the latest mood of a child per local day counts in the dashboards and charts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogMoodRequest"
      responses:
        "201":
          description: Student mood log saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogMoodEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/mood/analytics:
    get:
      tags: [Teacher]
      operationId: moodAnalytics
      summary: Mood charts of a class
      description: |
        The donut summary and the Monday to Friday trend. The donut covers the current week for `weekly` and the current month for
        `monthly`, counting the latest mood of each child for each local day. The trend is always the Monday to Friday of the
        current week, whatever the range is. The monthly range adds the distribution of the month.
      parameters:
        - $ref: "#/components/parameters/ClassId"
        - name: range
          in: query
          schema:
            type: string
            enum: [weekly, monthly]
            default: weekly
      responses:
        "200":
          description: The analytics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoodAnalyticsEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/classes:
    get:
      tags: [Teacher]
      operationId: listClasses
      summary: List the classes of the teacher
      description: The classes the teacher teaches, oldest first, each with the join code and the number of children.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: The classes of the requested page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassListEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Teacher]
      operationId: createClass
      summary: Create a class
      description: The teacher becomes a teacher of the new class, which gets a join code that parents use to register a child. A missing grade level, academic year or school take the defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClassRequest"
      responses:
        "201":
          description: Class created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/classes/{classId}:
    get:
      tags: [Teacher]
      operationId: getClass
      summary: Show a class
      description: A class of the teacher with the number of children, learning videos and forum threads.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
      responses:
        "200":
          description: The class
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassDetailEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/classes/{classId}/join-code:
    post:
      tags: [Teacher]
      operationId: rotateJoinCode
      summary: Replace the join code of a class
      description: |
        Gives the class a new random join code and returns it. The old code stops working at once, so a parent who
        has not joined yet needs the new one. Parents who already joined are not affected. Use it when a code was
        shared too widely or guessed.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
      responses:
        "200":
          description: The new join code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JoinCodeEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/profile:
    get:
      tags: [Teacher]
      operationId: getGuruProfile
      summary: Show the profile of the teacher
      description: The name, NIP, school and photo that the profile screen shows.
      responses:
        "200":
          description: The profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuruProfileEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    put:
      tags: [Teacher]
      operationId: updateGuruProfile
      summary: Change the contact details of the teacher
      description: Send `phoneNumber`, `address` or both. A field that is missing stays as it is and an empty text clears it. The photo is changed with `POST /users/avatar`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGuruProfileRequest"
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuruProfileDetailEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guru/profile/detail:
    get:
      tags: [Teacher]
      operationId: getGuruProfileDetail
      summary: Show the full profile of the teacher
      description: The profile with the email, phone number, address and the date the account was created.
      responses:
        "200":
          description: The full profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuruProfileDetailEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /classes/{classId}/videos:
    get:
      tags: [Classroom]
      operationId: listVideos
      summary: List the learning videos of a class
      description: Newest first. Open to the teachers of the class and the parents of a child in it.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: The videos of the requested page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Classroom]
      operationId: addVideo
      summary: Add a learning video to a class
      description: >-
        Only a teacher of the class can add one. The video is an https address. For a file the teacher recorded, first ask for a signed
        address with `POST /classes/{classId}/videos/upload-url`, send the file there, then add the video with the `videoUrl` of that
        answer. The file must have arrived by then, it must belong to this class, and it must be an accepted video. The file waits in a
        staging folder until it is added, and adding copies it to a permanent address. That address is the `videoUrl` of the added video,
        so use it and not the address of the upload. A staged file can be added once, and the permanent address can be added again to
        share the file with another video of the same class, for as long as a video still uses it. The file is deleted with the last video.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddVideoRequest"
      responses:
        "201":
          description: Learning video added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/StorageFailed"
  /classes/{classId}/videos/upload-url:
    post:
      tags: [Classroom]
      operationId: createVideoUpload
      summary: Get a signed address to upload a video file to
      description: >-
        Only a teacher of the class can ask for one. Send the file with a PUT request to `uploadUrl` before `expiresAt`, with exactly
        `sizeBytes` bytes and the headers of the answer, and no other header is needed. The bucket refuses a file of another size or
        type. Then add the video with `POST /classes/{classId}/videos` and the `videoUrl` of this answer. The file waits in a `pending/`
        folder of the bucket until it is added, and the bucket removes whatever is never added after a day.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoUploadRequest"
      responses:
        "200":
          description: Upload address created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoUploadEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/StorageFailed"
        "503":
          description: File storage is not configured (`STORAGE_UNAVAILABLE`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
  /classes/{classId}/videos/{videoId}:
    patch:
      tags: [Classroom]
      operationId: updateVideo
      summary: Change the details of a learning video
      description: >-
        Any teacher of the class can change it. A missing field stays as it is, an empty `description` or `thumbnailUrl` clears it and
        a `durationSeconds` of 0 clears the duration. At least one field is required. The address of the video cannot change, so a
        different file is a new video.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/VideoPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVideoRequest"
      responses:
        "200":
          description: Learning video updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Classroom]
      operationId: deleteVideo
      summary: Delete a learning video
      description: >-
        Any teacher of the class can delete it. When the video was uploaded and no other video uses the same file, the file is removed
        from storage too. A link to another site is only forgotten.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/VideoPath"
      responses:
        "200":
          description: Learning video deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /classes/{classId}/students:
    get:
      tags: [Classroom]
      operationId: listClassStudents
      summary: List the children of a class
      description: Only for the teachers of the class. Sorted by name, with the points, the rank and the latest mood of today.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: The children of the requested page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassStudentListEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /classes/{classId}/forum:
    get:
      tags: [Classroom]
      operationId: listThreads
      summary: List the forum threads of a class
      description: Newest thread first. Open to the teachers of the class and the parents of a child in it.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: The threads of the requested page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForumThreadListEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Classroom]
      operationId: createThread
      summary: Start a forum thread
      description: Open to the teachers of the class and the parents of a child in it.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateThreadRequest"
      responses:
        "201":
          description: Forum thread created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForumThreadEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /classes/{classId}/forum/{postId}/replies:
    get:
      tags: [Classroom]
      operationId: listReplies
      summary: List the replies to a forum thread
      description: Oldest reply first. `postId` is the id of a thread of the class.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/PostPath"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: The replies of the requested page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForumReplyListEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Classroom]
      operationId: createReply
      summary: Reply to a forum thread
      description: Open to the teachers of the class and the parents of a child in it. A reply cannot be answered again.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/PostPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReplyRequest"
      responses:
        "201":
          description: Forum reply added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForumReplyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /classes/{classId}/forum/{postId}:
    patch:
      tags: [Classroom]
      operationId: updateThread
      summary: Change a forum thread
      description: >-
        Only the author can change a thread. A missing field stays as it is, and the title and the text cannot be empty. At least one field is required.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/PostPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateThreadRequest"
      responses:
        "200":
          description: Forum thread updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForumThreadEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Classroom]
      operationId: deleteThread
      summary: Delete a forum thread
      description: >-
        The author and the teachers of the class can delete a thread. Its replies are deleted with it.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/PostPath"
      responses:
        "200":
          description: Forum thread deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /classes/{classId}/forum/{postId}/replies/{replyId}:
    patch:
      tags: [Classroom]
      operationId: updateReply
      summary: Change a forum reply
      description: >-
        Only the author can change a reply. `postId` is the thread the reply belongs to.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/PostPath"
        - $ref: "#/components/parameters/ReplyPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateReplyRequest"
      responses:
        "200":
          description: Forum reply updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForumReplyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Classroom]
      operationId: deleteReply
      summary: Delete a forum reply
      description: >-
        The author and the teachers of the class can delete a reply. `postId` is the thread the reply belongs to.
      parameters:
        - $ref: "#/components/parameters/ClassPath"
        - $ref: "#/components/parameters/PostPath"
        - $ref: "#/components/parameters/ReplyPath"
      responses:
        "200":
          description: Forum reply deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /trash/scan-claim:
    post:
      tags: [Trash]
      operationId: scanClaim
      summary: Claim points for sorted trash
      description: |
        Only for the WALI role. A child can claim a limited number of times per local day. The optional photo has to be a
        JPEG, PNG or WebP image of at most 4 MiB, given as base64 or as a data URI. It is stored as evidence when file storage is
        configured, and a deployment without it checks the photo and then drops it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScanClaimRequest"
      responses:
        "200":
          description: Trash sorting points claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanClaimEnvelope"
        "400":
          description: The input is invalid, or the photo is not an image (`VALIDATION_ERROR`, `INVALID_IMAGE`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          $ref: "#/components/responses/FileTooLarge"
        "429":
          description: |
            Rate limited (`RATE_LIMITED`, with a `Retry-After` header), or the daily claim limit of the child is reached
            (`TRASH_DAILY_LIMIT_REACHED`, without one, the limit resets at midnight of the local day)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
        "502":
          $ref: "#/components/responses/StorageFailed"
  /trash/stats:
    get:
      tags: [Trash]
      operationId: trashStats
      summary: Trash sorting statistics of a child
      description: Only for the WALI role. The scans and points of a child for each trash category, and how many scans are left today. Without `studentId` the oldest child is used.
      parameters:
        - $ref: "#/components/parameters/StudentId"
      responses:
        "200":
          description: The statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrashStatsEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /leaderboard:
    get:
      tags: [Trash]
      operationId: leaderboard
      summary: Podium and ranking of a class
      description: Ranked by points, then name. A parent sees the class of their child and a teacher sees a class they teach.
      parameters:
        - $ref: "#/components/parameters/ClassId"
      responses:
        "200":
          description: The leaderboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /users/avatar:
    post:
      tags: [Account]
      operationId: uploadAvatar
      summary: Upload a profile photo
      description: |
        Sets the photo of the signed in user, or of one of their children when `studentId` is given by a parent. The
        file has to be a JPEG, PNG or WebP image of at most 2 MiB. The previous photo is deleted from storage.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                studentId:
                  type: string
                  format: uuid
                  description: A child of the signed in parent
      responses:
        "200":
          description: Profile photo updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvatarEnvelope"
        "400":
          description: The input is invalid, or the file is not an image (`VALIDATION_ERROR`, `INVALID_IMAGE`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          $ref: "#/components/responses/FileTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/StorageFailed"
        "503":
          description: File storage is not configured (`STORAGE_UNAVAILABLE`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
  /users/me:
    delete:
      tags: [Account]
      operationId: deleteAccount
      summary: Delete the own account
      description: |
        Soft deletes the account after the password is confirmed. The sessions are revoked, the account can no longer
        sign in, and the children of a parent are deleted with it. The profile photo of the account, the photos of the
        children and the photos of their trash scans are deleted too.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccountRequest"
      responses:
        "200":
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyEnvelope"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The role may not do this, or the password is incorrect (`AUTH_FORBIDDEN`, `AUTH_PASSWORD_INCORRECT`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Failure"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /healthz:
    get:
      tags: [Operations]
      operationId: health
      summary: Health of the service and its dependencies
      description: |
        Answers `200` when the database works, with `degraded` when Redis is down, and `503` when the database is down.
        This route lives at the root and not under `/api/v1`.
      security: []
      servers:
        - url: https://kibooz-api.syafahadyan.com
          description: Production
        - url: http://localhost:8080
          description: Local development with the default port
      responses:
        "200":
          description: Healthy or degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
        "503":
          description: The database is down
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The `token` returned by login or registration
  parameters:
    ClassId:
      name: classId
      in: query
      description: A class of the signed in user
      schema:
        type: string
        format: uuid
    ClassPath:
      name: classId
      in: path
      required: true
      description: A class of the signed in user
      schema:
        type: string
        format: uuid
    VideoPath:
      name: videoId
      in: path
      required: true
      description: A learning video of the class
      schema:
        type: string
        format: uuid
    ReplyPath:
      name: replyId
      in: path
      required: true
      description: A reply to the forum thread
      schema:
        type: string
        format: uuid
    PostPath:
      name: postId
      in: path
      required: true
      description: A forum thread of the class
      schema:
        type: string
        format: uuid
    StudentPath:
      name: studentId
      in: path
      required: true
      description: A child of the signed in parent
      schema:
        type: string
        format: uuid
    StudentId:
      name: studentId
      in: query
      description: A child of the signed in parent
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      description: The page to return, starting at 1
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 1
    Limit:
      name: limit
      in: query
      description: How many items one page holds
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
  responses:
    ValidationError:
      description: The input is invalid (`VALIDATION_ERROR`), with one message per field in `details`
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Failure"
          example:
            success: false
            message: The submitted data is invalid
            errorCode: VALIDATION_ERROR
            details:
              email: invalid email format
    Unauthorized:
      description: The access token is missing, invalid or expired (`AUTH_TOKEN_MISSING`, `AUTH_TOKEN_INVALID`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Failure"
    Forbidden:
      description: The role or the data is not allowed for this user (`AUTH_FORBIDDEN`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Failure"
    NotFound:
      description: |
        The resource does not exist or is not visible to this user (`CLASS_NOT_FOUND`, `CLASS_CODE_NOT_FOUND`,
        `STUDENT_NOT_FOUND`, `PROFILE_NOT_FOUND`, `GUIDANCE_NOT_FOUND`, `FORUM_POST_NOT_FOUND`, `VIDEO_NOT_FOUND`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Failure"
    RateLimited:
      description: Too many requests from this user or for this account (`RATE_LIMITED`)
      headers:
        Retry-After:
          description: Seconds to wait before the next try
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Failure"
    FileTooLarge:
      description: The file or body is over the allowed size (`FILE_TOO_LARGE`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Failure"
    StorageFailed:
      description: The file could not be stored (`STORAGE_ERROR`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Failure"
  schemas:
    Role:
      type: string
      enum: [GURU, WALI, ADMIN]
      description: Teacher, parent or administrator. ADMIN cannot be registered.
    Mood:
      type: string
      enum: [SENANG, SEDIH, MARAH, BINGUNG]
      description: Happy, sad, angry or confused
    TrashType:
      type: string
      enum: [ORGANIK, ANORGANIK, B3]
    Failure:
      type: object
      required: [success, message, errorCode]
      properties:
        success:
          type: boolean
          enum: [false]
        message:
          type: string
        errorCode:
          type: string
          description: A stable code for the client to branch on
        details:
          type: object
          description: One message per invalid field
          additionalProperties:
            type: string
    EmptyEnvelope:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
    RegisterClass:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
        gradeLevel:
          type: string
          maxLength: 20
        academicYear:
          type: string
          maxLength: 20
        schoolName:
          type: string
          maxLength: 150
    RegisterStudent:
      type: object
      required: [nisn, fullName]
      properties:
        nisn:
          type: string
          pattern: "^[0-9]+$"
          minLength: 5
          maxLength: 30
        fullName:
          type: string
          minLength: 2
          maxLength: 150
    RegisterRequest:
      type: object
      required: [email, password, fullName, role]
      properties:
        email:
          type: string
          format: email
          maxLength: 255
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 72
          description: At most 72 bytes, which is the limit of bcrypt
        fullName:
          type: string
          minLength: 2
          maxLength: 150
        role:
          type: string
          enum: [GURU, WALI]
        phoneNumber:
          type: string
          maxLength: 30
        nip:
          type: string
          maxLength: 50
          description: Only used for a GURU
        schoolName:
          type: string
          maxLength: 150
          description: Only used for a GURU. The school of the class takes precedence.
        address:
          type: string
          maxLength: 1000
          description: Only used for a WALI. A teacher sets the address with `PUT /guru/profile`.
        whatsappNumber:
          type: string
          maxLength: 30
          description: Only used for a WALI
        class:
          allOf:
            - $ref: "#/components/schemas/RegisterClass"
          description: Required for a GURU
        classCode:
          type: string
          pattern: "^[A-Za-z0-9]+$"
          minLength: 4
          maxLength: 12
          description: Required for a WALI. The join code of a class, which the teacher finds on the dashboard and in the list of classes. The case does not matter.
        student:
          allOf:
            - $ref: "#/components/schemas/RegisterStudent"
          description: Required for a WALI
    LoginRequest:
      type: object
      required: [email, password, role]
      properties:
        email:
          type: string
          format: email
          maxLength: 255
        password:
          type: string
          format: password
          maxLength: 72
        role:
          $ref: "#/components/schemas/Role"
        deviceToken:
          type: string
          maxLength: 256
          description: >-
            The `deviceToken` that an earlier registration or login on this device returned. It is never needed to sign in,
            and it only gives this device its own rate limit for the email. Send it whenever the app has one.
    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          maxLength: 128
    LogoutRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          maxLength: 128
    User:
      type: object
      required: [id, email, fullName, role, avatarUrl]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        fullName:
          type: string
        role:
          $ref: "#/components/schemas/Role"
        avatarUrl:
          type: string
          format: uri
          nullable: true
    AuthData:
      type: object
      required: [token, refreshToken, user]
      properties:
        token:
          type: string
          description: The access token, valid for 60 minutes by default
        refreshToken:
          type: string
          description: Single use, valid for 30 days by default
        deviceToken:
          type: string
          description: >-
            Returned by registration and login, and not by a token refresh. Keep it on the device and send it in the next
            login request. It is signed for this email, valid for 90 days by default and renewed by every login.
        user:
          $ref: "#/components/schemas/User"
    AuthEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/AuthData"
    WaliStudent:
      type: object
      required: [id, fullName, classId, className, avatarUrl, nisn]
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
        classId:
          type: string
          format: uuid
          description: The class of the child, used in the `/classes/{classId}` routes
        className:
          type: string
          description: The grade level and the school
        avatarUrl:
          type: string
          format: uri
          nullable: true
        nisn:
          type: string
    TodayMood:
      type: object
      nullable: true
      description: The latest mood of today, null until the teacher records one
      required: [moodType, label, confidence, recordedAt, teacherNotes]
      properties:
        moodType:
          $ref: "#/components/schemas/Mood"
        label:
          type: string
          description: A readable name of the mood
          example: Happy / Cheerful
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        recordedAt:
          type: string
          format: date-time
        teacherNotes:
          type: string
          nullable: true
    PointsSummary:
      type: object
      required: [totalPoints, classRank, organicCount, anorganicCount]
      properties:
        totalPoints:
          type: integer
        classRank:
          type: integer
        organicCount:
          type: integer
        anorganicCount:
          type: integer
    RecommendedGuidance:
      type: object
      nullable: true
      description: The guidance that fits today's mood, null while there is no mood
      required: [id, title, category, bannerUrl]
      properties:
        id:
          type: string
          description: Send this as `guidanceId` when the guidance was applied
        title:
          type: string
        category:
          type: string
        bannerUrl:
          type: string
          description: The public address of the banner image, empty while file storage has no public address configured
    WaliDashboard:
      type: object
      required: [student, todayMood, pointsSummary, recommendedGuidance]
      properties:
        student:
          $ref: "#/components/schemas/WaliStudent"
        todayMood:
          $ref: "#/components/schemas/TodayMood"
        pointsSummary:
          $ref: "#/components/schemas/PointsSummary"
        recommendedGuidance:
          $ref: "#/components/schemas/RecommendedGuidance"
    WaliDashboardEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: "#/components/schemas/WaliDashboard"
    ApplyGuidanceRequest:
      type: object
      required: [guidanceId, studentId]
      properties:
        guidanceId:
          type: string
          maxLength: 64
        studentId:
          type: string
          format: uuid
        parentNotes:
          type: string
          maxLength: 2000
    GuruTeacher:
      type: object
      required: [fullName, nip, avatarUrl]
      properties:
        fullName:
          type: string
        nip:
          type: string
          nullable: true
        avatarUrl:
          type: string
          format: uri
          nullable: true
    ClassOverview:
      type: object
      required: [classId, className, joinCode, totalStudents, presentStudents, dominantMood]
      properties:
        classId:
          type: string
          format: uuid
        className:
          type: string
          description: The grade level and the name of the class in brackets, such as `Class A (Bunga)`
        joinCode:
          type: string
          description: Six characters that a parent uses to register a child into the class
        totalStudents:
          type: integer
        presentStudents:
          type: integer
          description: Children with a mood recorded today
        dominantMood:
          type: string
          enum: [SENANG, SEDIH, MARAH, BINGUNG, null]
          nullable: true
          description: The most frequent mood today, null when nobody has one
    DailyMoodDistribution:
      type: object
      required: [senang, sedih, marah, bingung]
      properties:
        senang:
          type: integer
        sedih:
          type: integer
        marah:
          type: integer
        bingung:
          type: integer
    GuruDashboard:
      type: object
      required: [teacher, classOverview, dailyMoodDistribution]
      properties:
        teacher:
          $ref: "#/components/schemas/GuruTeacher"
        classOverview:
          $ref: "#/components/schemas/ClassOverview"
        dailyMoodDistribution:
          $ref: "#/components/schemas/DailyMoodDistribution"
    GuruDashboardEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: "#/components/schemas/GuruDashboard"
    LogMoodRequest:
      type: object
      required: [studentId, moodType]
      properties:
        studentId:
          type: string
          format: uuid
        moodType:
          $ref: "#/components/schemas/Mood"
        source:
          type: string
          enum: [AI_CAMERA, MANUAL_INPUT]
          default: MANUAL_INPUT
        confidenceScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Required for the AI_CAMERA source, 1 by default otherwise
        notes:
          type: string
          maxLength: 2000
    LogMoodData:
      type: object
      required: [logId, recordedAt]
      properties:
        logId:
          type: string
          format: uuid
        recordedAt:
          type: string
          format: date-time
    LogMoodEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/LogMoodData"
    DonutSlice:
      type: object
      required: [mood, percentage, colorHex]
      properties:
        mood:
          $ref: "#/components/schemas/Mood"
        percentage:
          type: integer
          minimum: 0
          maximum: 100
          description: Whole percentages that add up to 100 when there is data
        colorHex:
          type: string
          description: Fixed per mood, SENANG #34C759, BINGUNG #FF9500, SEDIH #5856D6 and MARAH #FF3B30
          example: "#34C759"
    TrendPoint:
      type: object
      required: [day, averageHappyScore]
      properties:
        day:
          type: string
          enum: [Monday, Tuesday, Wednesday, Thursday, Friday]
        averageHappyScore:
          type: integer
          minimum: 0
          maximum: 100
          description: The share of happy children of that day
    MoodCount:
      type: object
      required: [mood, count]
      properties:
        mood:
          $ref: "#/components/schemas/Mood"
        count:
          type: integer
    MoodAnalytics:
      type: object
      required: [donutSummary, weeklyTrend]
      properties:
        donutSummary:
          type: array
          items:
            $ref: "#/components/schemas/DonutSlice"
        weeklyTrend:
          type: array
          items:
            $ref: "#/components/schemas/TrendPoint"
        monthlyDistribution:
          type: array
          description: Only present for the monthly range
          items:
            $ref: "#/components/schemas/MoodCount"
    MoodAnalyticsEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: "#/components/schemas/MoodAnalytics"
    ScanClaimRequest:
      type: object
      required: [studentId, trashType]
      properties:
        studentId:
          type: string
          format: uuid
        trashType:
          $ref: "#/components/schemas/TrashType"
        confidenceScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
          default: 0
        photoBase64:
          type: string
          description: Optional evidence photo as base64 or a data URI, at most 4 MiB once decoded
    ScanClaimData:
      type: object
      required: [pointsAdded, totalPoints, newRank, remainingDailyScans]
      properties:
        pointsAdded:
          type: integer
        totalPoints:
          type: integer
        newRank:
          type: integer
        remainingDailyScans:
          type: integer
    ScanClaimEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ScanClaimData"
    LeaderboardEntry:
      type: object
      required: [rank, studentName, points, avatarUrl]
      properties:
        rank:
          type: integer
          minimum: 1
        studentName:
          type: string
        points:
          type: integer
        avatarUrl:
          type: string
          format: uri
          nullable: true
    Leaderboard:
      type: object
      required: [podium, rankings]
      properties:
        podium:
          type: array
          maxItems: 3
          description: The top three
          items:
            $ref: "#/components/schemas/LeaderboardEntry"
        rankings:
          type: array
          description: Everyone after the podium
          items:
            $ref: "#/components/schemas/LeaderboardEntry"
    LeaderboardEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: "#/components/schemas/Leaderboard"
    AvatarData:
      type: object
      required: [avatarUrl]
      properties:
        avatarUrl:
          type: string
          format: uri
    AvatarEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/AvatarData"
    DeleteAccountRequest:
      type: object
      required: [password]
      properties:
        password:
          type: string
          format: password
          maxLength: 72
    PageInfo:
      type: object
      required: [page, limit, total]
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 50
        total:
          type: integer
          minimum: 0
          description: How many items the whole list holds
    AddVideoRequest:
      type: object
      required: [title, videoUrl]
      properties:
        title:
          type: string
          maxLength: 150
        description:
          type: string
          maxLength: 2000
        videoUrl:
          type: string
          format: uri
          maxLength: 2048
          description: An https address the app can stream
        thumbnailUrl:
          type: string
          format: uri
          maxLength: 2048
          description: An https address of a preview image
        durationSeconds:
          type: integer
          minimum: 1
          maximum: 86400
    UpdateVideoRequest:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 150
        description:
          type: string
          maxLength: 2000
          description: An empty text clears the description
        thumbnailUrl:
          type: string
          maxLength: 2048
          description: An https address of a preview image, an empty text clears it
        durationSeconds:
          type: integer
          minimum: 0
          maximum: 86400
          description: 0 clears the duration
    VideoUploadRequest:
      type: object
      required: [contentType, sizeBytes]
      properties:
        contentType:
          type: string
          enum: [video/mp4, video/webm]
        sizeBytes:
          type: integer
          format: int64
          minimum: 1
          description: The exact size of the file, the server refuses a larger file than `VIDEO_MAX_MB`
    VideoUpload:
      type: object
      required: [uploadUrl, method, headers, videoUrl, expiresAt]
      properties:
        uploadUrl:
          type: string
          format: uri
          description: The signed address to send the file to
        method:
          type: string
          enum: [PUT]
        headers:
          type: object
          description: Headers the upload request must carry
          required: [Content-Type]
          properties:
            Content-Type:
              type: string
        videoUrl:
          type: string
          format: uri
          description: The address of the staged file, to add as the video once the upload is done. The added video returns its permanent address.
        expiresAt:
          type: string
          format: date-time
    VideoUploadEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/VideoUpload"
    Video:
      type: object
      required: [id, title, description, videoUrl, thumbnailUrl, durationSeconds, createdAt]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        videoUrl:
          type: string
          format: uri
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
        durationSeconds:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
    VideoList:
      allOf:
        - $ref: "#/components/schemas/PageInfo"
        - type: object
          required: [videos]
          properties:
            videos:
              type: array
              items:
                $ref: "#/components/schemas/Video"
    VideoEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/Video"
    VideoListEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/VideoList"
    ForumAuthor:
      type: object
      required: [id, fullName, role, avatarUrl]
      description: The account that wrote a post. A deleted account shows the name `Deleted account` and no photo.
      properties:
        id:
          type: string
          format: uuid
          description: The id of the account, compare it with the id of the signed in user
        fullName:
          type: string
        role:
          $ref: "#/components/schemas/Role"
        avatarUrl:
          type: string
          format: uri
          nullable: true
    CreateThreadRequest:
      type: object
      required: [title, body]
      properties:
        title:
          type: string
          maxLength: 150
        body:
          type: string
          maxLength: 5000
    ForumThread:
      type: object
      required: [id, title, body, author, replyCount, createdAt, editedAt]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        body:
          type: string
        author:
          $ref: "#/components/schemas/ForumAuthor"
        replyCount:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
        editedAt:
          type: string
          format: date-time
          nullable: true
          description: When the author last changed the title or the text, and null for a thread that was never edited
    ForumThreadList:
      allOf:
        - $ref: "#/components/schemas/PageInfo"
        - type: object
          required: [threads]
          properties:
            threads:
              type: array
              items:
                $ref: "#/components/schemas/ForumThread"
    ForumThreadEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ForumThread"
    ForumThreadListEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ForumThreadList"
    UpdateThreadRequest:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 150
        body:
          type: string
          minLength: 1
          maxLength: 5000
    UpdateReplyRequest:
      type: object
      required: [body]
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 5000
    CreateReplyRequest:
      type: object
      required: [body]
      properties:
        body:
          type: string
          maxLength: 5000
    ForumReply:
      type: object
      required: [id, body, author, createdAt, editedAt]
      properties:
        id:
          type: string
          format: uuid
        body:
          type: string
        author:
          $ref: "#/components/schemas/ForumAuthor"
        createdAt:
          type: string
          format: date-time
        editedAt:
          type: string
          format: date-time
          nullable: true
          description: When the author last changed the text, and null for a reply that was never edited
    ForumReplyList:
      allOf:
        - $ref: "#/components/schemas/PageInfo"
        - type: object
          required: [replies]
          properties:
            replies:
              type: array
              items:
                $ref: "#/components/schemas/ForumReply"
    ForumReplyEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ForumReply"
    ForumReplyListEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ForumReplyList"
    ClassSummary:
      type: object
      required: [id, name, gradeLevel, schoolName, academicYear, joinCode, totalStudents, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        gradeLevel:
          type: string
        schoolName:
          type: string
        academicYear:
          type: string
        joinCode:
          type: string
          description: The code a parent enters to register a child in this class
        totalStudents:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
    ClassList:
      allOf:
        - $ref: "#/components/schemas/PageInfo"
        - type: object
          required: [classes]
          properties:
            classes:
              type: array
              items:
                $ref: "#/components/schemas/ClassSummary"
    ClassDetail:
      allOf:
        - $ref: "#/components/schemas/ClassSummary"
        - type: object
          required: [totalVideos, totalThreads]
          properties:
            totalVideos:
              type: integer
              minimum: 0
            totalThreads:
              type: integer
              minimum: 0
    CreateClassRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 50
        gradeLevel:
          type: string
          maxLength: 20
          default: Class A
        academicYear:
          type: string
          maxLength: 20
          default: 2026/2027
        schoolName:
          type: string
          maxLength: 150
          description: The school of the teacher by default
    ClassEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ClassSummary"
    ClassListEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ClassList"
    JoinCode:
      type: object
      required: [joinCode]
      properties:
        joinCode:
          type: string
          description: The new code of the class
          example: K7M2QX
    JoinCodeEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/JoinCode"
    ClassDetailEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ClassDetail"
    GuruProfile:
      type: object
      required: [id, fullName, nip, schoolName, avatarUrl]
      properties:
        id:
          type: string
          format: uuid
          description: The id of the account
        fullName:
          type: string
        nip:
          type: string
          nullable: true
        schoolName:
          type: string
        avatarUrl:
          type: string
          format: uri
          nullable: true
    GuruProfileDetail:
      allOf:
        - $ref: "#/components/schemas/GuruProfile"
        - type: object
          required: [email, phoneNumber, address, joinedAt]
          properties:
            email:
              type: string
              format: email
            phoneNumber:
              type: string
              nullable: true
            address:
              type: string
              nullable: true
            joinedAt:
              type: string
              format: date-time
    UpdateGuruProfileRequest:
      type: object
      minProperties: 1
      properties:
        phoneNumber:
          type: string
          maxLength: 30
          description: Digits with an optional leading plus, spaces, dashes and brackets. An empty text clears it.
        address:
          type: string
          maxLength: 1000
          description: An empty text clears it
    GuruProfileEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/GuruProfile"
    GuruProfileDetailEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/GuruProfileDetail"
    ClassStudent:
      type: object
      required: [id, fullName, nisn, avatarUrl, currentPoints, classRank, todayMood]
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
        nisn:
          type: string
        avatarUrl:
          type: string
          format: uri
          nullable: true
        currentPoints:
          type: integer
          minimum: 0
        classRank:
          type: integer
          minimum: 0
        todayMood:
          type: string
          enum: [SENANG, SEDIH, MARAH, BINGUNG, null]
          nullable: true
          description: The latest mood recorded today, null when none was
    ClassStudentList:
      allOf:
        - $ref: "#/components/schemas/PageInfo"
        - type: object
          required: [students]
          properties:
            students:
              type: array
              items:
                $ref: "#/components/schemas/ClassStudent"
    ClassStudentListEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ClassStudentList"
    Guardian:
      type: object
      required: [fullName, email, phoneNumber, whatsappNumber, address]
      properties:
        fullName:
          type: string
        email:
          type: string
          format: email
        phoneNumber:
          type: string
          nullable: true
        whatsappNumber:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
    ChildProfile:
      type: object
      required: [id, fullName, nisn, avatarUrl, classId, className, gradeLevel, schoolName, academicYear, currentPoints, classRank, guardian]
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
        nisn:
          type: string
        avatarUrl:
          type: string
          format: uri
          nullable: true
        classId:
          type: string
          format: uuid
        className:
          type: string
          description: The name of the class only, the grade level is in `gradeLevel`
        gradeLevel:
          type: string
        schoolName:
          type: string
        academicYear:
          type: string
        currentPoints:
          type: integer
          minimum: 0
        classRank:
          type: integer
          minimum: 0
        guardian:
          $ref: "#/components/schemas/Guardian"
    ChildProfileEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/ChildProfile"
    TrashTypeStat:
      type: object
      required: [trashType, scans, points]
      properties:
        trashType:
          $ref: "#/components/schemas/TrashType"
        scans:
          type: integer
          minimum: 0
        points:
          type: integer
          minimum: 0
    TrashStats:
      type: object
      required: [student, totalPoints, classRank, totalScans, breakdown, todayScans, dailyLimit, remainingDailyScans]
      properties:
        student:
          type: object
          required: [id, fullName]
          properties:
            id:
              type: string
              format: uuid
            fullName:
              type: string
        totalPoints:
          type: integer
          minimum: 0
        classRank:
          type: integer
          minimum: 0
        totalScans:
          type: integer
          minimum: 0
        breakdown:
          type: array
          description: One entry for each trash category, in the order ORGANIK, ANORGANIK, B3
          items:
            $ref: "#/components/schemas/TrashTypeStat"
        todayScans:
          type: integer
          minimum: 0
        dailyLimit:
          type: integer
          minimum: 1
        remainingDailyScans:
          type: integer
          minimum: 0
    TrashStatsEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
        data:
          $ref: "#/components/schemas/TrashStats"
    Health:
      type: object
      required: [success, status, version, checks]
      properties:
        success:
          type: boolean
        status:
          type: string
          enum: [ok, degraded, down]
        version:
          type: string
        checks:
          type: object
          required: [database, redis, storage]
          properties:
            database:
              type: string
              enum: [ok, down]
            redis:
              type: string
              enum: [ok, down]
            storage:
              type: string
              enum: [ok, disabled]
